.additional-goods {
  font-family: $oswald;
}

.additional-goods__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
}

.additional-goods__title-item {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

.additional-goods__list {
    list-style: none;
}

.additional-goods__table {
    font-family: $arial;
    font-size: 14px;
    line-height: 14px;
    color: $dark-grey;
}
