.advantages {
  font-family: $oswald;

  &__title {
  }
  &__list {
    list-style: none;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $dark-grey;
  }
  &__item {
  }
}
