.product-more {
}

.product-more__title {
  font-weight: normal;
  text-transform: uppercase;
}

.product-more__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}
