.site-list {
  list-style: none;

  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24.86px;
  }
}

.site-list__link {
  text-decoration: none;
  color: black;

  &--active {
    border-bottom: solid 2px #68b738;
    padding-bottom: 5px;
  }
}
